*.lock
*.user
*.cache
*.ncrunchsolution

.vs
obj
bin
_ReSharper.Caches
/_NCrunch_YololEmulator/
/YololEmulator.Tests/*.ncrunchproject
/Yololc/Properties/PublishProfiles/*.pubxml
/Yolol/nuget-push.ps1
/Yolol/*.ncrunchproject
